<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <span class="navbar-brand">The Polling App</span>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard/create">Create Poll</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard/view">View Poll</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard/take">Take Poll</a>
    </li>
  </ul>
  <button class="btn btn-primary" (click)="logout()">Logout</button>
</nav>
<div class="poll">
  <router-outlet></router-outlet>
</div>
