<div *ngIf="loader" class="loader"></div>
<div *ngIf="pollList">
  <div *ngFor="let poll of pollList; let i=index" class="poll-item">
    <span *ngIf="pollId !== poll._id" class="poll">{{i+1}}) {{poll.title}}</span>
    <input *ngIf="pollId === poll._id" [(ngModel)]="poll.title">
    <button [disabled]="apiInProgress" class="button btn btn-danger btn-sm" (click)="deletePoll(poll._id)">Delete
      Poll</button>
    <button *ngIf="pollId === poll._id" [disabled]="apiInProgress" class="button btn btn-info btn-sm"
      (click)="editPoll(poll._id, poll.title)" [disabled]="!poll.title">Save Edited Poll</button>
    <button *ngIf="pollId !== poll._id" class="button btn btn-info btn-sm" (click)="setEditPollId(poll._id);">Edit
      Poll</button>
    <div *ngFor="let option of poll.options; let j=index" class="options">
      <span class="option-item">{{j+1}}. {{option.option}}</span>
      <button [disabled]="apiInProgress" class="button btn btn-danger btn-sm"
        (click)="deleteOption(option.option, poll)">Delete this
        Option</button>
      <div class="progress">
        <div class="progress-bar" role="progressbar" class="progress-bar">{{option.vote}}votes</div>
      </div>
    </div>
    <button *ngIf="!newOptionForm" class="btn btn-info btn-sm" (click)="inputForm(); setPollId(poll._id)">Add
      New Option</button>
    <div *ngIf="newOptionForm" class="new-option">
      <form [formGroup]="newOptionForm" (ngSubmit)="addOption(poll._id, newOptionForm.value)">
        <input *ngIf="pollOptionId===poll._id" formControlName="newOption">
        <button *ngIf="pollOptionId===poll._id" [disabled]="newOptionForm.invalid || apiInProgress" type="submit"
          class="btn btn-info btn-sm">Save New Option</button>
      </form>
    </div>

  </div>
</div>
