<div class="loginCss">

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.value)">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" placeholder="Enter email" id="exampleInputEmail1" formControlName="email"
        [class.is-invalid]="email.invalid && email.touched">
      <div *ngIf="email.invalid && email.touched">
        <small *ngIf="email.errors?.required" class="text-danger">Email is required</small>
        <small *ngIf="email.errors?.pattern" class="text-danger">Email is invalid</small>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"
        formControlName="password" [class.is-invalid]="password.invalid && password.touched">
      <div *ngIf="password.invalid && password.touched">
        <small *ngIf="password.errors?.required" class="text-danger">Password is required</small>
        <small *ngIf="password.errors?.minlength" class="text-danger">Password must be between 4 to 8
          characters</small>
        <small *ngIf="password.errors?.maxlength" class="text-danger">Password must be between 4 to 8
          characters</small>
        <small *ngIf="password.errors?.pattern" class="text-danger">Password must contain at least 1 uppercase Alphabet,
          1 lowercase alphabet, 1 character and 1 numeric value</small>

      </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid || apiInProgress">{{apiInProgress ? "Logging In" : "Log In"}}</button>
    <br>
    <small *ngIf="errorMessage" class="text-danger">User doesn't exist</small>
  </form>

</div>
